@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    EMSI Centre<br />
    Rue Khouribga, Casablanca<br />
    <abbr title="Phone">Téléphone:</abbr>
    0522-222222
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@atlas.ma</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@atlas.ma</a>
</address>