@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Atlas Location</h1>
    <p class="lead">Atlas Location est une entreprise de location des voitues en plusieurs gammes!</p>
    <p><a href="~/Vehicules/Disponnible" class="btn btn-primary btn-lg">Voir les Voitures Disponnibles! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Citadine</h2>
        <img src="~/Images/i10.jpg" class="img-thumbnail">
    </div>
    <div class="col-md-4">
        <h2>Sedan</h2>
        <img src="~/Images/logan.jpg" class="img-thumbnail">
    </div>
    <div class="col-md-4">
        <h2>SUV/4x4</h2>
        <img src="~/Images/evoque.jpg" class="img-thumbnail">
    </div>
</div>